In [50]:
import pandas as pd

# Combine all datasets into one

In [51]:
# read in all data files (google bigquery only lets you download so much at a time)
df_16 = pd.read_csv('./data/conspiracy_2016.csv')
df_17 = pd.read_csv('./data/conspiracy_2017.csv')
df_18 = pd.read_csv('./data/conspiracy_2018.csv')
df_19 = pd.read_csv('./data/conspiracy_2019.csv')
df_20 = pd.read_csv('./data/conspiracy_2020.csv')

In [59]:
# concatinate dataframes
df_all = pd.concat([df_16, df_17, df_18, df_19])

In [22]:
df_all.head()

,title,num_comments,score,created_utc
0,Apollo conspiracy theorists will tell you this...,180,22,1472376754
1,Media Worried Too Many Americans Will Question...,103,475,1472042001
2,It's official. Julian Assange: Google is direc...,202,3291,1471014496
3,"Major Physics Magazine, Europhysics News, Publ...",107,424,1472513970
4,"Meanwhile on CNN... (Removed from /r/funny, ru...",110,2152,1470263579

In [32]:
# drop any duplicate rows
df_all.drop_duplicates(inplace=True)

In [33]:
df_all.shape

(31519, 4)

In [35]:
df_all.to_csv('../data/conspiracy_all.csv', index=False)